* {
    margin: 0;
    padding: 0;
}

/* variaveis */
:root {
    --color-background: #1f1f1f;
    --color-red: rgba(247, 63, 63, 0.6);
    --color-white: rgba(215, 215, 215, 0.6);
    --color-button: #EA4C4C;
    --color-input: #252525;
    --color-text-input: #888888;
}

html, body { 
    height: 100%; 
    overflow: hidden;
    overflow: clip; 
    contain: content;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
}

.container {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "left main right";
    grid-template-columns: auto .92fr auto;
    text-align: center;
}

/* colunas */
.button-left, .button-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}
.button-left:hover, .button-right:hover {
    background-color: var(--color-input);
    border-top: 5px solid var(--color-red);
    border-bottom: 5px solid var(--color-red);
}
.button-left {
    grid-area: left;
    background-color: var(--color-red);
    border-radius: 0px 0px 100px 0px;
}
.main {
    grid-area: main;
}
.button-right {
    grid-area: right;
    background-color: var(--color-white);
    border-radius: 100px 0px 0px 0px;
}

/* setas left e right */
.button-left img, .button-right img {
    width: 30%;
    margin: auto;
}
.button-right img {
    /* para navegadores antigos que nao tem suporte ao transform */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    
    transform: scaleX(-1);
}

/* img pokedex */
.pokedex-img {
    width: 90%;
    height: 90%;
    max-width: 750px;
    margin: auto;
    margin-top: 3.5%;
    text-align: left;
}

/* img pokemon */
.img-front, .img-back {
    display: grid;
    width: 10%;
    max-width: 82px;
    padding-top: 11em;
    margin-left: 4em;
}
.img-back {
    padding-top: 3em;
}

/* formulario */
.form {
    position: fixed;
    width: 455px;
    background-color: var(--color-input);
    border-radius: 100px 5px;
    bottom: 8.8%;
    left: 50%;
    margin-left: calc(-455px / 2);
}
.input, .button {
    border: none;
    padding: 10px;
}
.input {
    background: none;
    border-radius: 100px 0px 0px 5px;
    width: calc(100% - 88px);
    padding-left: 30px;
    font-size: 25px;
    transition: background-color, color 0.4s ease-in-out;
    color: var(--color-text-input);
}
.input:focus {
    background-color: var(--color-background);
    color: rgb(231, 231, 231);
}
.button {
    background: var(--color-button);
    border-radius: 0px 5px 100px 0px;
    width: 84px;
    padding-bottom: 14px;
    transition: background 0.4s ease-in-out;
}
.button:hover {
    background: var(--color-red);
}
.material-symbols-outlined {
    font-variation-settings: 'wght' 700, 'opsz' 0;
    color: var(--color-input);
}